// ========================================================
//
//	-- type: base
//	-- desc: grid
//
// ========================================================


.container {
	// color guide helper for grid container (remove when no longer needed)
	background-color: $neutral-100;
	width: 100%;
	margin: 0 auto;
	padding: 1em;

	@include breakpoint(large) {
		width: 1200px;
	}

	&.full {
		width: 100%;
	}
}

// grid behaviour
.grid {
	display: flex;
	flex-wrap: wrap;

	// grid gutters
	&.spacing {
		margin: -1em 0 1em -1em;

		.cell {
			padding: 1em 0 0 1em;
		}
	}

	// grid modifiers
	&.top {
		align-items: flex-start;
	}

	&.bottom {
		align-items: flex-end;
	}

	&.center {
		align-items: center;
	}

	// cell behaviour
	.cell {
		flex: 0 0 100%;

		// cell inner
		.inner {
			// color guide helper for cell inner (remove when no longer needed)
			background-color: $secondary-200;
			height: 100%;
			padding: $space-16;
			text-align: center;
			width: 100%;
			border-radius: 3px;
		}

		// nested grid
		.grid {
			margin-bottom: 0;
		}

		// cell modifiers
		&.top {
			align-self: flex-start;
		}

		&.bottom {
			align-self: flex-end;
		}

		&.center {
			align-self: center;
		}
	}

	// small breakpoint
	&.expand-for-small {
		@include breakpoint(small) {
			.cell {
				flex: 1;

				// sizings
				&.half {
					flex: 0 0 50%;
				}

				&.third {
					flex: 0 0 33.3333%;
				}

				&.quarter {
					flex: 0 0 25%;
				}
			}
		}
	}

	// medium breakpoint
	&.expand-for-medium {
		@include breakpoint(medium) {
			.cell {
				flex: 1;

				// sizings
				&.half {
					flex: 0 0 50%;
				}

				&.third {
					flex: 0 0 33.3333%;
				}

				&.quarter {
					flex: 0 0 25%;
				}
			}
		}
	}

	// large breakpoint
	&.expand-for-large {
		@include breakpoint(large) {
			.cell {
				flex: 1;

				// sizings
				&.half {
					flex: 0 0 50%;
				}

				&.third {
					flex: 0 0 33.3333%;
				}

				&.quarter {
					flex: 0 0 25%;
				}
			}
		}
	}
}
