// ========================================================
//
//	-- type: base
//	-- desc: colors
//
// ========================================================


// primary theme colors
$primary-000: #e0fcff;
$primary-100: #bef8fd;
$primary-200: #87eaf2;
$primary-300: #54d1db;
$primary-400: #38bec9;
$primary-500: #2cb1bc;
$primary-600: #14919b;
$primary-700: #0e7c86;
$primary-800: #0a6c74;
$primary-900: #044e54;


// secondary theme colors
$secondary-000: #ffefe6;
$secondary-100: #ffd3ba;
$secondary-200: #fab38b;
$secondary-300: #ef8e58;
$secondary-400: #e67635;
$secondary-500: #c65d21;
$secondary-600: #ab4e19;
$secondary-700: #8c3d10;
$secondary-800: #77340d;
$secondary-900: #572508;


// neutral system colors
$neutral-000: #ffffff;
$neutral-100: #f5f7fa;
$neutral-200: #e4e7eb;
$neutral-300: #cbd2d9;
$neutral-400: #9aa5b1;
$neutral-500: #616e7c;
$neutral-600: #52606d;
$neutral-700: #3e4c59;
$neutral-800: #323f4b;
$neutral-900: #1f2933;


// info system colors
$info-000: #ebf8ff;
$info-100: #d1eefc;
$info-200: #a7d8f0;
$info-300: #7cc1e4;
$info-400: #55aad4;
$info-500: #3994c1;
$info-600: #2d83ae;
$info-700: #1d6f98;
$info-800: #166086;
$info-900: #0b4f71;


// success system colors
$success-000: #f2fde0;
$success-100: #e2f7c2;
$success-200: #c7ea8f;
$success-300: #abdb5e;
$success-400: #94c843;
$success-500: #7bb026;
$success-600: #63921a;
$success-700: #507712;
$success-800: #42600c;
$success-900: #2b4005;


// warning system colors
$warning-000: #fffbea;
$warning-100: #fff3c4;
$warning-200: #fce588;
$warning-300: #fadb5f;
$warning-400: #f7c948;
$warning-500: #f0b429;
$warning-600: #de911d;
$warning-700: #cb6e17;
$warning-800: #b44d12;
$warning-900: #8d2b0b;


// error system colors
$error-000: #ffe3e3;
$error-100: #ffbdbd;
$error-200: #ff9b9b;
$error-300: #f86a6a;
$error-400: #ef4e4e;
$error-500: #e12d39;
$error-600: #cf1124;
$error-700: #ab091e;
$error-800: #8a041a;
$error-900: #610316;
