// ========================================================
//
//	-- type: base
//	-- desc: borders
//
// ========================================================


// border mixins
@mixin border-small($color) {
	border-width: $border-small;
	border-style: $border-style;
	border-color: $color;
}

@mixin border-medium($color) {
	border-width: $border-medium;
	border-style: $border-style;
	border-color: $color;
}

@mixin border-large($color) {
	border-width: $border-large;
	border-style: $border-style;
	border-color: $color;
}


// border radius mixins
@mixin radius-small {
	border-radius: $radius-small;
}

@mixin radius-large {
	border-radius: $radius-large;
}
