// ========================================================
//
//	-- type: base
//	-- desc: borders
//
// ========================================================


$small-border-radius: 3px;
$large-border-radius: 6px;
$small-border-width: 2px;
$large-border-width: 3px;