// ========================================================
//
//	-- type: base
//	-- desc: spacings
//
// ========================================================


// 2px spacer (16 x 0.125)
$space-2: 0.125rem;

// 4px spacer (16 x 0.25)
$space-4: 0.25rem;

// 8px spacer (16 x 0.5)
$space-8: 0.5rem;

// 12px spacer (16 x 0.75)
$space-12: 0.75rem;

// 16px spacer (16 x 1)
$space-16: 1rem;

// 24px spacer (16 x 1.5)
$space-24: 1.5rem;

// 32px spacer (16 x 2)
$space-32: 2rem;

// 48px spacer (16 x 3)
$space-48: 3rem;

// 64px spacer (16 x 4)
$space-64: 4rem;

// 96px spacer (16 x 6)
$space-96: 6rem;

// 128px spacer (16 x 8)
$space-128: 8rem;

// 192px spacer (16 x 12)
$space-192: 12rem;

// 256px spacer (16 x 16)
$space-256: 16rem;

// 384px spacer (16 x 24)
$space-384: 24rem;

// 512px spacer (16 x 32)
$space-512: 32rem;

// 640px spacer (16 x 40)
$space-640: 40rem;

// 768px spacer (16 x 48)
$space-768: 48rem;